
* {
  padding: 0;
  margin: 0;
  font-family: "tahoma", Arial, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: 0 60%;
  background-attachment: fixed;

/* navbar */
nav {
  position: fixed;
  display: flex;
  height: 40px;
  background: linear-gradient(to bottom, #245edb 0%, #3f8cf3 9%, #245edb 18%, #245edb 92%, #1941a5 100%);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-around;
  z-index: 999;
}

nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(to bottom, #53bd53 0%, #6cce6c 6%, #3e9b3e 10%, #1e7d1e 30%, #1e7d1e 50%, #1a6b1a 70%, #1a6b1a 100%);
  box-shadow: inset 0px 0px 3px #000;
  border: 1px solid #2f7f17;
  border-radius: 0px 16px 13px 0px;
}

nav .logo a {
  font-family: "tahoma", Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  margin-left: 5px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 5px auto;
  color: white;
  position: relative;
  z-index: 1000;
}

nav ul li a {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 11px;
}

nav ul li a {
  font-size: 20px;
  transition: 0.3s;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

nav ul li a:hover {
  transform: translateY(-5px);
}

nav .contact {
  padding: 0 17px;
  display: flex;
  align-items: center;
  border-left: 1px solid #102a6b;
  background: linear-gradient(to bottom, #0997ff 0%, #0053ee 8%, #0040ca 40%, #0640d1 100%);
}

nav .contact a {
  font-family: "tahoma", Arial, Helvetica, sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

/* hamburger Menu */
.menu-wrapper {
  width: 44px;
  height: 44px;
  background: radial-gradient(circle at 50% 80%, #88c025 0%, #4e8916 60%, #325e0f 100%);
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 45%;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.4);
  border: 1px solid #284d0b;
  z-index: 1000;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22px;
  height: 16px;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  inset: -10px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.4s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: center;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-toggle span:nth-child(4) {
  transform-origin: center;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(4px, 4px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(4px, -4px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
}

/* container */
.container {
  margin: 20px auto;
  margin-bottom: 80px;
  background-color: #ece9d8;
  border-right: 2px solid #0840c5;
  border-left: 2px solid #0840c5;
  border-radius: 15px;
  width: 70%;
  box-sizing: border-box;
}

.container .topbar {
  height: 30px;
  width: 100%;
  color: #fff;
  font-size: 8px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 10px;
  background: linear-gradient(to bottom, #0058ee 0%, #3d95ff 4%, #0058ee 6%, #0058ee 40%, #0840c5 100%);
  box-shadow: inset 1px 3px 3px rgba(255, 255, 255, 0.3);
  border-radius: 8px 8px 0px 0px;
}

.container .topbar img {
  width: 30px;
  margin-top: 5px;
}

/* home section */
#home {
  margin: 0 auto;
  width: 50%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10px;
}

#home h1,
span {
  font-size: 60px;
  font-family: "tahoma", Arial, sans-serif;
  text-shadow: 5px 5px 5px #000;
}

span {
  color: #f7931e;
}

#home p {
  font-size: 25px;
  font-weight: bold;
  font-family: "tahoma", Arial, sans-serif;
  text-shadow: 2px 2px 3px #000;
}

.sosmed-icons {
  display: flex;
  margin: 20px auto;
  gap: 45px;
}

.sosmed-icons a {
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 35px;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
  transition: 0.3s;
}

.sosmed-icons a.ig:hover {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  color: #fff;
  border-radius: 30%;
  transform: translateY(-6px);
}

.sosmed-icons a.github:hover {
  background-color: #000;
  color: #fff;
  transform: translateY(-6px);
}

.sosmed-icons a.wa:hover {
  background-color: #25d366;
  color: #fff;
  transform: translateY(-6px);
}

#home .btn a {
  width: auto;
  height: auto;
  display: inline-block;
  font-size: 15px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 9px 18px;
  background: linear-gradient(to bottom, #5fd0ff 0%, #3bb6ff 45%, #1e86e6 100%);
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s;
}

#home .btn a:hover {
  transform: scale(1.1);
}

/* about section */
.about-content-satu {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content-satu img {
  width: 250px;
  height: 250px;
  margin: 30px;
  /* border-radius: 50%; */
  box-shadow: 3px 3px 5px rgba(0, 0, 0);
}

.about-content-satu p {
  background-color: #fff;
  margin: 20px 0px;
  padding: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 29px;
  border: 1px solid #d4d0c8;
  border-radius: 8px;
}

.about-content-dua {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.achievement-card {
  width: 280px;
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid #d4d0c8;
  box-shadow: 1px 1px 0 #ffffff;
  background-color: #fff;
  overflow: hidden;
  transition: 0.3s;
}

.achievement-card p {
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  color: #000;
}

.achievement-card img {
  width: 100%;
  height: 180px;
}

.achievement-card span {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.achievement-card a:hover span {
  opacity: 1;
}


/* skills section */
.skills-content {
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
}

.skills-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 10px;
  font-size: 12px;
  border: 1px solid #d4d0c8;
  background-color: #fff;
  border-radius: 8px;
}

.skills-card.b {
  background-color: #d3e5fa;
}

.skills-card h3 {
  text-align: center;
  padding-top: 20px;
}

.skills-card ul {
  display: flex;
  flex-direction: column;
}

.skills-card ul li {
  list-style: none;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
  border-top: 1px solid #999;
}

.skills-card ul li:hover {
  background-color: #1665cb;
  color: #fff;
}

/* projects section */
.projects-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  gap: 30px;
}

.projects-card {
  border-radius: 12px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d4d0c8;
  background-color: #fff;
}

.projects-card span {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.projects-card a:hover span {
  opacity: 1;
}

.projects-card img {
  width: 100%;
}

.projects-card p {
  font-size: 13px;
  letter-spacing: 1px;
  padding: 5px 15px;
}

/* contact */
.contact-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.contact-content label {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
}

.contact-content input,
.contact-content textarea {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 8px;
  padding: 6px;
  font-size: 11px;
  letter-spacing: 2px;
  border: 1px solid #7f9db9;
}

.contact-content textarea {
  resize: none;
  height: 90px;
}

.contact-aksi {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.contact-btn {
  display: flex;
  gap: 10px;
}

.contact-btn button {
  padding: 5px 16px;
  font-size: 13px;
  border: 1px solid #7f9db9;
  background: linear-gradient(to bottom, #ffffff, #dcdcdc);
  cursor: pointer;
}

.contact-btn button:hover {
  background: linear-gradient(to bottom, #e6f2ff, #b7d5f5);
}

.display-none {
  display: none;
}

.alert-wrap {
  display: flex;
  justify-content: space-between;
}

.alert {
  align-items: center;
  gap: 10px;
  padding: 4px 10px;
  border: 1px solid #999;
  color: #000;
  border-radius: 6px;
  font-size: 13px;
  letter-spacing: 2px;
  height: fit-content;
}

.alert-btn-close {
  background: transparent;
  width: 20px;
  border: none;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}

.contact-right {
  padding: 20px;
  background-color: #ece9d8;
  border: 1px solid #b5b5b5;
}

.contact-right h4 {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.contact-right ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.contact-right li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.contact-right li i {
  font-size: 15px;
}

.contact-right img {
  width: 16px;
}

/* footer section */

footer {
  width: 100%;
  color: #fff;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 20px;
  background: linear-gradient(to bottom, #0058ee 0%, #3d95ff 4%, #0058ee 6%, #0058ee 40%, #0840c5 100%);
  border: 1px solid #3a3aff;
  border-top: 0px solid;
  border-radius: 0px 0px 15px 15px;
}

/* pverlay  */
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
}

.container-pcard {
  margin: 20px;
  background-color: #ece9d8;
  border-radius: 12px;
}

.topbar-pcard {
  background: linear-gradient(to bottom, #0058ee 0%, #3d95ff 4%, #0058ee 6%, #0058ee 40%, #0840c5 100%);
  padding: 5px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-pcard h4 {
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
}

.topbar-pcard .close img {
  width: 30px;
}

.overlay .pcard-content {
  display: flex;
  align-items: center;
  padding: 20px;
}

.overlay .pcard-content p {
  border-radius: 8px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 15px 20px;
  font-size: 15px;
  text-align: justify;
  line-height: 25px;
}

.overlay .pcard-img {
  border-radius: 8px;
  margin: 20px;
  width: 110vh;
  height: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

/* responsive */
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }

  #home {
    width: 80%;
  }

  .skills-content,
  .projects-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-content-satu {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-content-satu p {
    padding: 15px;
    font-size: 12px;
  }

  .about-content-dua {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  nav {
    height: 60px;
    justify-content: space-between;
    z-index: 9999;
  }

  nav .logo a {
    font-size: 15px;
  }

  .menu-wrapper {
    display: flex;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 58px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to bottom, #245edb 0%, #3f8cf3 9%, #245edb 18%, #245edb 92%, #1941a5 100%);
    transform: translatey(0%);
    transition: all 1s;
    opacity: 1;
    z-index: -1;
  }

  nav ul li a {
    margin-right: 0px;
  }

  nav ul li a img {
    width: 40px;
  }

  nav ul.slide {
    opacity: 1;
    transform: translatey(-200%);
  }

  #home {
    width: 95%;
    text-align: center;
  }

  #home h1,
  #home span {
    font-size: 36px;
  }

  #home p {
    font-size: 18px;
  }

  .sosmed-icons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sosmed-icons .btn {
    width: 100%;
    text-align: center;
  }

  /* CONTAINER */
  .container {
    width: 95%;
    margin-top: 15px;
  }


  /* ABOUT */
  .about-content-satu img {
    width: 180px;
    height: 180px;
    margin: 20px 0;
  }

  .about-content-satu p {
    font-size: 10px;
  }

  .achievement-card {
    width: 90%;
  }


  /* SKILLS */
  .skills-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .skills-card {
    max-width: 100%;
  }

  /* PROJECTS */
  .projects-content {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .projects-card {
    width: 90%;
  }

.container-pcard {
  width: 95%;
}

  .pcard-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pcard-content p {
    font-size: 10px;
  }

  /* CONTACT */
  .contact-content {
    grid-template-columns: 1fr;
  }

  footer {
    font-size: 12px;
    text-align: center;
  }

    /* OVERLAY */
  .overlay .pcard-img {
    width: 90vw;
  }

}
}